// 系统公共样式变量管理

/** ====系统主题色===  **/
$theme-bg-color: #191a23; // 主题黑色
$theme-blue-color: #0076F6; // 主题蓝色


/** ===系统相关尺寸===  **/
$app-aside-w: 64px;

$header-H: 60px; // 头部栏高度
$input-H: 32px; // 各种输入框高度
$input-W: 248px; // 输入框宽度
$breadCrumb-H: 60px;
